<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="background.html">Background</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Flow Logic<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="flow-intro.html">Introduction</a>
      </li>
      <li>
        <a href="flow-initial-diagnosis.html">Initial Diagnosis and Monitoring</a>
      </li>
      <li>
        <a href="flow-very-high-bp.html">Very High Blood Pressure Warning - Safety</a>
      </li>
      <li>
        <a href="flow-adverse-events.html">Adverse Events - Safety</a>
      </li>
      <li>
        <a href="flow-monitoring.html">Monitoring of Already Diagnosed Patient</a>
      </li>
      <li>
        <a href="flow-nonpharma.html">Non-Pharmacologic Interventions</a>
      </li>
      <li>
        <a href="flow-pharma.html">Pharmacology / Medicine-based Recommendations</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Specification<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="spec.html">Detailed Specification</a>
      </li>
      <li>
        <a href="cqf-ruler.html">Using CQF Ruler</a>
      </li>
      <li>
        <a href="epic-integration.html">Epic Integration</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
      <li>
        <a href="license.html">License</a>
      </li>
    </ul>
  </li>
</ul>
